# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform .terraform directories
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info

# Crash log files
crash.log

# Sensitive variable files
*.tfvars

# Terraform plan output
*.tfplan
